<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://res.cloudinary.com/drwdhpfou/image/upload/v1706107215/logo_zxy2ty.png" alt="fevicon_icon">
    <title>Tolly4U: Watch HD Movies Online at Bolly4u | Bolly4u.org</title>
    <meta name="description" content="Explore Tolly4u, bolly4u, Bolly4u.org, and Hdhub4u for the latest free movie downloads! Enjoy Bollywood, Hollywood, Hindi dubbed, web series & more in 300MB"/>
    <meta name="keywords" content="bolly4u,bolly 4u,bolly4u org guru,bolly4u 300MB Movies, hdhub4u, Bolly4u.show, bolly4u,2024 bolly4u bollywood,Dual Audio Hindi Movies Download South Hindi Dubbed Movies,">
    <link rel="canonical" href="https://www.tolly4u.site/"/>
    <meta name="generator" content="Allmovieland Engine">
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Tolly4U: Watch 300MB Movies Online at Bolly4u | Bolly4u.org" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Tolly4U: Watch 300MB Movies Online at Bolly4u | Bolly4u.org" />
    <meta property="og:description" content="Explore Tolly4u, bolly4u, Bolly4u.org, and Hdhub4u for the latest free movie downloads! Enjoy Bollywood, Hollywood, Hindi dubbed, web series & more in 300MB" />
    <meta property="og:image" content="https://res.cloudinary.com/drwdhpfou/image/upload/v1705564589/Web_capture_18-1-2024_13344_manage.wix.com_c8hwdf.jpg" alt="Tolly4U_svg"/>
    <meta property="og:url" content="https://www.tolly4u.site/"/>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/svg+xml" href="https://example.com/image.svg" alt="fevicon_icon">
    <script type="application/ld+json">
        {
         "@context": "http://schema.org",
         "@type": "Entertainment",
         "name": "Tolly4U: Watch 300MB Movies Online at Bolly4u | Bolly4u.org",
         "url": "https://www.tolly4u.site/",
         "image": "https://res.cloudinary.com/drwdhpfou/image/upload/h_50,w_200/v1705564589/Web_capture_18-1-2024_13344_manage.wix.com_c8hwdf.jpg"
        }
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZD6FWQ6KGM"></script>
    <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());

       gtag('config', 'G-ZD6FWQ6KGM');
    </script>
</head>
<body>
    <%- include("../includes/navbar.ejs") -%>
    <div class="container"> <%- body -%> </div>

    <%- include("../includes/footer.ejs") -%>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
</body>
</html>