
<div class="join-div">
    <div class="container">
        <p>Old telegram channel permanently banned so we create new channel please <span>join this fast</span> for
            movies updates.
        </p>
        
            <a href="https://t.me/new_movies_tolly4uofficial" rel="nofollow" target="_blank" class="telegram-btn" style="text-decoration: underline;">
                <i class="fab fa-telegram-plane"></i>  Join Our Telegram Channel
            </a>
        
    </div>
</div>

<hr>
<p style="text-align: center;margin-top:10px;"><span style="font-size: 12pt;">
        <strong>
            <span style="color: #fe424d;">_______ [⇓ <span style="font-family: book antiqua, palatino, serif;">**Play in
                    VLC / Playit player if audio is not supporting in MX player**
                </span>⇓]
                _______</span>
        </strong></span></p>
<hr>
<p style="text-align: center;margin-top:10px;"><span style="text-decoration: underline;"><strong><span
                style="color: #fe424d; text-decoration: underline;">Note :-</span> <span
                style="color: #fe424d;text-decoration: underline;">If link is expired then please contactus down we will
                fix it as soon as possible.</span></strong></span>
</p>
<div class="join-div text-center">
    <div class="container">
        <a href="#" rel="nofollow" target="_blank"><img src="#" alt=""></a>
    </div>
</div>
<div class="download-message-box">
    <p>Click On The Above Download Button Download File.</p>
</div>
<div class="comment-message-box">
    <p>Send Your Queries And Requests Through <a href="/contactus" style="text-decoration: none;"><b>Contact Us</b></a> Page.</p>
</div>