<% layout("./layouts/boilerplate.ejs") -%>
<style>
        h1 {
            color: #333;
            text-align: center;
        }
        .highlight {
            color: #d9534f;
            font-weight: bold;
        }
        ul {
            margin: 10px 0;
            padding-left: 20px;
        }
        ul li {
            margin-bottom: 10px;
        }
</style>
<div class="container">
    <h1>DMCA</h1>
    <p>
        It is our policy to respond to clear notices of alleged copyright infringement. If you believe that your intellectual property rights have been infringed upon by one of our users, we need you to send us a proper notification. All notices should comply with the notification requirements of the DMCA. You MUST provide the following information:
    </p>
    <ul>
        <li>Identify yourself as either:
            <ul>
                <li>The owner of a copyrighted work(s), or</li>
                <li>A person “authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.”</li>
            </ul>
        </li>
        <li>Identify the copyrighted work claimed to have been infringed.</li>
        <li>Identify the material that is claimed to be infringing or to be the subject of the infringing activity and that is to be removed or access to which is to be disabled by providing us the exact location of the infringing file with the exact interupload.com link.</li>
        <li>Provide us the web address under which the link has been published.</li>
        <li>Provide your contact information which includes, your full name, address and telephone number.</li>
    </ul>
    <p>
        (For more details on the information required for valid notification, see 17 U.S.C. 512(c)(3).)
    </p>
    <p>
        You should be aware that, under the DMCA, claimants who make misrepresentations concerning copyright infringement may be liable for damages incurred as a result of the removal or blocking of the material, court costs, and attorneys fees.
    </p>
    <p class="highlight">
        A proper notification MUST contain the information above, or it may be IGNORED.
    </p>
    <p>
        Send notifications to: <a href="/contactus">Contact Us Page</a>
    </p>
    <p>
        Please allow 2-3 business days for an email response. Note that emailing your complaint to other parties such as our Internet Service Provider will not expedite your request and may result in a delayed response due to the complaint not properly being filed.
    </p>
    <p class="highlight">
        Disclaimer
    </p>
    <p>
        Tolly4U does not host any files on its servers. All point to content hosted on third party websites. Tolly4U does not accept responsibility for content hosted on third party websites and does not have any involvement in the same.
    </p>
</div>